doctype html
html(lang="ko")
    head   
        title #{pageTitle} | Nomad Coder
    body    
        nav
            ul  
                li 
                    a(href="/") Home
        nav
            ul  
                li 
                    a(href="add") Add
        header
            h1=pageTitle
        main
            block content